@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,87.5,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* @import url('../../../public/font/GeistMono-1.3.0/GeistMono-1.3.0/statics-ttf'); */

/* Default styles for large screens */
.heroH1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 83px;
  font-style: normal;
  line-height: 90px;
  word-spacing: 12px;
  font-variation-settings: "wdth" 100;
  margin-top: 30px;
}

.heroH1 span {
  color: #875bf8;
}

.heroH2 {
  font-family: "Geist Mono";
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  margin-top: 20px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

/* Media query for small screens */
@media (max-width: 640px) {
  .heroH1 {
    font-size: 32px; /* Adjust this value as needed */
    line-height: 40px;
  }

  .heroH2 {
    font-size: 18px; /* Adjust this value as needed */
  }
}

/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
